# OS
## Windows
Thumbs.db

## OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Editor
## Eclipse
.project
.settings/

# SVN
.svn/

# Grunt
.grunt/
node_modules/

# Sass
.sass-cache/

## Compass Sprite
*-s[0-9a-z][0-9a-z][0-9a-z][0-9a-z][0-9a-z][0-9a-z][0-9a-z][0-9a-z][0-9a-z][0-9a-z].png
