@charset "utf-8";
// ------------------------------
// [name] link-styles v1.0.0
// [path] /hisho/helper/_link-styles.scss
// [desc] linkのcolorとunderlineを指定
// [exsample]
//
//   @include link-styles($map);
//
//   @include link-styles(
//     linkColor : #333,
//     linkUnderline : false
//   );
// ------------------------------

//private mixin
@mixin link-styles-view($color:null, $underline:null){
	@if $color {
		color: $color;
	}
	@if $underline == true {
		text-decoration: underline;
	} @else {
		text-decoration: none;
	}
}

//publick mixin
@mixin link-styles($options){

	//-----------------
	// options
	//-----------------
	$_options: map-extend(true, (
		color: (
			default : #333,
			link    : #CC33CC,
			visited : #CC33CC,
			hover   : #CC33CC,
			active  : #CC33CC,
			focus   : #CC33CC
		),
		underline: (
			default : true,
			link    : true,
			visited : true,
			hover   : false,
			active  : false,
			focus   : false
		)
	), $options);
	
	//-----------------
	// view
	//-----------------
 
	@include link-styles-view(
		$color     : mgd($_options, "color.default"),
		$underline : mgd($_options, "underline.default")
	);


	&:link{
		@include link-styles-view(
			$color     : mgd($_options, "color.link"),
			$underline : mgd($_options, "underline.link")
		);
	}

	&:visited{
		@include link-styles-view(
			$color     : mgd($_options, "color.visited"),
			$underline : mgd($_options, "underline.visited")
		);
	}

	&:hover{
		@include link-styles-view(
			$color     : mgd($_options, "color.hover"),
			$underline : mgd($_options, "underline.hover")
		);
	}

	&:active{
		@include link-styles-view(
			$color     : mgd($_options, "color.active"),
			$underline : mgd($_options, "underline.active")
		);
	}

	&:focus{
		@include link-styles-view(
			$color     : mgd($_options, "color.focus"),
			$underline : mgd($_options, "underline.focus")
		);
	}

}
