// ------------------------------
// [name] hq-map-extend v1.0.0
// [path] /hisho-query/hq/map/_hq-map-extend.scss
// [desc] mapのextend処理 (引数可変長で対応可能)
// [exsample]
//   hq-map-extend($map1, $map2);
//   hq-map-extend(true, $map1, $map2, $map3); //deep_marge
// ------------------------------
@function hq-map-extend( $argument... ){
	$_result: null;
	$_length: length($argument);
	$_isDeep: false;

	//deep setting check
	@each $v in $argument{
		@if hq-is-bool($v) {
			$_isDeep: $v;
		}
	}

	//merge
	@for $i from 0 through $_length - 1 {
		$_num: $_length - $i;
		$_value: nth($argument, $_num);
		@if type-of($_value) == map{
			@if $_result{
				//deepFlag
				@if $_isDeep{
					$_result : hq-map-merge-deep($_value, $_result);
				}@else{
					$_result : map-merge($_value, $_result);
				}
			}@else{
				$_result: $_value;
			}
		}
	}
	@return $_result;
}