@charset "UTF-8";
/*! hisho-query v0.1.1 */
/* line 14, ../../sass/test/sample.scss */
.method-setting {
  /* 通常 */
  method-normal: 15;
  /* method-query指定（引数なし） */
  method-query: "nmlkjiH.gfedcba";
  /* method-query指定（引数有り） */
  method-query: "abcdefg";
  /* method-map */
  method-map: "dcbbefg.Hijklmn";
}

/* line 39, ../../sass/test/sample.scss */
.hq-str {
  unquote: abcdefg.Hijklmn;
  quote: "abcdefg.Hijklmn";
  length: 15;
  insert: "abhogecdefg.Hijklmn";
  index: 6;
  slice: "abc";
  upperCase: "ABCDEFG.HIJKLMN";
  lowerCase: "abcdefg.hijklmn";
  capitalize: Abcdefg.hijklmn;
  FlUpcase: Abcdefg.Hijklmn;
  FlDowncase: abcdefg.Hijklmn;
  strip: abcdefg.Hijklmn;
  succ: abcdefg.Hijklmo;
  match: true;
  replace: axadefg.Hijklmn;
  sprit: abcdefg, Hijklmn;
  getId: uv708ilyn;
  reverse: nmlkjiH.gfedcba;
}

/* line 65, ../../sass/test/sample.scss */
.hq-num {
  percentage: 200%;
  round: 10px;
  ceil: 11px;
  floor: 10px;
  abs: 15px;
  min: 2px;
  max: 18px;
  unit: "em";
  unitless: false;
  comparable: false;
}

/* line 86, ../../sass/test/sample.scss */
.hq-list {
  get: a;
  set: a b "hoge" d;
  length: 4;
  index: 2;
  unshift: "x" a b c d;
  push: a b c d "x";
  shift: b c d;
  pop: a b c;
  slice: b c;
  remove: a b d;
  join: a, b, c, d, e, f, g, h, i, j, k;
  zip: a e a, b f b, c g c, d h d;
  toSpace: a b c d;
  toComma: a, b, c, d;
  separator: space;
  reverse: d c b a;
}

/* line 148, ../../sass/test/sample.scss */
.hq-map {
  get: black;
  set: {"cat"=>"blue", "Lion"=>(text: bad, colorType: orange)};
  extend: {"cat"=>(text: good, colorType: black), "Lion"=>(text: good, colorType: orange, option: ((box: 2))), "bird"=>(text: good, colorType: blue, option: ((box: 1)))};
  extend: {"cat"=>(text: good, colorType: black), "Lion"=>(text: good, colorType: orange, option: ((box: 2))), "bird"=>(text: good, colorType: blue, option: ((box: 1)))};
  merge: {"cat"=>(text: good, colorType: black), "Lion"=>(text: good, colorType: orange, option: ((box: 2))), "bird"=>(text: good, colorType: blue, option: ((box: 1)))};
  mergeDeep: {"cat"=>(text: good, colorType: black), "Lion"=>(text: good, colorType: orange, option: ((box: 2))), "bird"=>(text: good, colorType: blue, option: ((box: 1)))};
  keys: hoge, fuga;
  values: 2, e;
  hasKey: true;
  nth: fuga e;
  length: 2;
  push: {"cat"=>(text: good, colorType: black), "Lion"=>(text: bad, colorType: orange), "foo"=>"hoge"};
  join: hoge 2, fuga e, hoges 20000, fugas test;
  zip: hoge 2, fuga e;
  toString: {"cat"=>(text: good, colorType: black), "Lion"=>(text: bad, colorType: orange)};
}

/* line 172, ../../sass/test/sample.scss */
.hq-is {
  gValue: true;
  function: false;
  mixin: false;
  string: true;
  number: true;
  color: true;
  map: true;
  list: true;
  bool: true;
}

/* line 190, ../../sass/test/sample.scss */
.hq-css {
  toMap: {"top"=>0, "right"=>2px, "bottom"=>3px, "left"=>4px};
  toMap: {"top"=>0, "right"=>2px, "bottom"=>0, "left"=>2px};
  toMap: {"style"=>"solid", "width"=>1px, "color"=>#cccccc};
  toMap: {"style"=>"dotted", "width"=>null, "color"=>null};
  toMap: {"color"=>#cccccc, "image"=>"url(../img.jpg)", "repeat"=>null, "attachment"=>null, "position"=>(0 50%)};
  toMap: {"size"=>8px, "line-height"=>null, "style"=>null, "variant"=>null, "weight"=>"bold", "family"=>null};
  toMap: {"type"=>"square", "image"=>"url(../img.jpg)", "position"=>"outside"};
  toShort: 8px 2px 7px;
  toShort: 8px 2px;
  toShort: solid 6px #cccccc;
  toShort: dotted #cccccc;
  toShort: url(../img/test.jpg) no-repeat 0 0 #cccccc;
  toShort: bold 12px/1.5 "ＭＳ 明朝";
  toShort: url(../img/test.jpg) square outside;
  getWidth: 492px;
  getHeight: 495px;
}

/* line 56, test/*.png */
.test-sprite {
  background-image: url('/hisho-query/img/test-s19798cba55.png');
  background-repeat: no-repeat;
}

/*hqm("module")*/
/* line 1592, ../../sass/hisho-query/_hquery-0.1.1.scss */
.PtHqmModule01 {
  width: 500px;
  margin: 0 auto 20px;
  background: red;
}
/* line 1599, ../../sass/hisho-query/_hquery-0.1.1.scss */
.PtHqmModule01 .ptHqmModule01Li {
  border: solid 1px #cccccc;
}

/* line 275, ../../sass/test/sample.scss */
.hqm-write {
  /*hqm("write")*/
  background: #cccccc;
  border: solid 1px #cccccc;
  margin: 0 0 20px 0;
  /*hqm(write.propaty)*/
  padding: 10px;
}

/* line 291, ../../sass/test/sample.scss */
.hqm-sprite {
  /*hqm("sprite")*/
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  border: none;
  vertical-align: top;
  white-space: nowrap;
  text-indent: 100%;
  cursor: pointer;
  background-position: 0 0;
  /*hqm("sprite.core")*/
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  border: none;
  vertical-align: top;
  white-space: nowrap;
  text-indent: 100%;
  cursor: pointer;
  /*hqm("sprite.image")*/
  background-image: url('/hisho-query/img/test-s19798cba55.png');
  background-repeat: no-repeat;
  height: 28px;
  width: 30px;
  background-position: 0 0;
}
/* line 1748, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-sprite:hover {
  background-position: 0 -28px;
}
/* line 1748, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-sprite:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 317, ../../sass/test/sample.scss */
.hqm-link-styles {
  /*hqm("link.styles")*/
  color: #333333;
  text-decoration: underline;
}
/* line 1522, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-link-styles:link {
  color: #cc33cc;
  text-decoration: underline;
}
/* line 1529, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-link-styles:visited {
  color: #cc33cc;
  text-decoration: underline;
}
/* line 1536, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-link-styles:hover {
  color: #cc33cc;
  text-decoration: none;
}
/* line 1543, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-link-styles:active {
  color: #cc33cc;
  text-decoration: none;
}
/* line 1550, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-link-styles:focus {
  color: #cc33cc;
  text-decoration: none;
}

/* line 340, ../../sass/test/sample.scss */
.hqm-font-cloud {
  /*hqm("font.cloud")*/
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.xxs {
  font-size: 6px;
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.xs {
  font-size: 8px;
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.s {
  font-size: 9px;
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.m {
  font-size: 12px;
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.l {
  font-size: 16px;
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.xl {
  font-size: 18px;
}
/* line 1456, ../../sass/hisho-query/_hquery-0.1.1.scss */
.hqm-font-cloud.xxl {
  font-size: 24px;
}
