// ------------------------------
// [name] hq-list-reverse v1.0.0
// [path] /hisho-query/hq-map/_reverse.scss
// [desc] listの先頭を削除します
// [return] list
// [exsample]
//   hq-list-reverse($list);
// ------------------------------
@function hq-list-reverse($list){
	$_result: ();
	$_len: length($list);
	@for $i from 0 through $_len - 1{
		$_num : $_len - $i;
		$_result: append($_result, nth($list, $_num));
	}
	@return $_result;
}