@charset "utf-8";
// ------------------------------
// [name] hq-mixin-sprite v1.0.0
// [path] /hisho/helper/_hq-mixin-sprite.scss
// [desc]
//   sprite生成
// [options]
//     spriteMap    : sprite-map指定
//     name         : 表示する画像のfile名指定。:区切りで複数指定する事でhover時のsprite指定可能
//     positionOnly : "all" or "position"
//     btn          : ボタンorリンクとして使用する場合true
//     hover        : hover時のstyle指定
// [exsample]
//   @include hq-mixin-sprite((spriteMap:$spriteMap, name:"list01:list01_hover"));
// ------------------------------
@mixin hq-mixin-sprite($options){

	$options: hq-map("mergeDeep",(
		spriteMap: null,
		name: null,
		positionOnly: false,
		btn: false,
		hover: null
	) ,$options);

	$_name: hq-map("get",$options,"name");

	//複数指定の場合,options変更
	@if hq-str("match", $_name, ":"){
		$_nameList: hq-str("split", $_name, ":");
		$_hoverPos: sprite-position(hq-map("get",$options,"spriteMap"), hq-list("get",$_nameList,2));
		$_newData: (
			name : hq-list("get", $_nameList, 1),
			hover: (
				background-position: $_hoverPos
			)
		);
		$options: hq-map("mergeDeep",$options,$_newData);
	}

	//実行
	@include hq-mixin-sprite-core($options);
	@include hq-mixin-sprite-image($options);
}
