// ------------------------------
// [name] hq-mixin-sprite-image v1.0.0
// [path] /hisho/helper/_hq-mixin-sprite-image.scss
// [desc]
//   spriteの画像表示用style生成
//     spriteMap    : sprite-map指定
//     name         : 表示する画像のfile名指定
//     positionOnly : "all" or "position"
// [exsample]
//   @include hq-mixin-sprite-image((spriteMap:$spriteMap, name:"list01"));
// ------------------------------
@mixin hq-mixin-sprite-image($options:()){
	
	$options: hq("map.mergeDeep",(
		spriteMap: null,
		name: null,
		positionOnly: false
	) ,$options);

	$_spriteMap: hq("map.get",$options, "spriteMap");
	$_name: hq("map.get",$options, "name");

	//view
	@if hq("map.get",$options, "positionOnly") != false {
		background-image: sprite-url($_spriteMap);
		background-repeat: no-repeat;
		height: image-height(sprite-file($_spriteMap, $_name));
		width: image-width(sprite-file($_spriteMap, $_name));
	}
	background-position: sprite-position($_spriteMap, $_name);
}
