// ------------------------------
// [name] hq-mixin-write-propaty v1.0.0 alpha1
// [path] /hisho-query/hq/_hq-mixin-write-propaty.scss
// [desc] 指定内容を基にプロパティと値を生成
//        通常指定の場合はショートハンド、map指定の場合は複数プロパティで返す
// [exsample]
//   @include hq-mixin-write-propaty("border",solid 1px #ccc);
//
//   @include hq-mixin-write-propaty("border",(
//     style : solid,
//     width : 1px
//   ));
// ------------------------------

//
// publick mixin
// @ hq-mixin-write-propaty
//
@mixin hq-mixin-write-propaty($propaty, $value){
	//map指定
	@if hq("is.map",$value) {

		//margin padding
		@if $propaty == "margin" or $propaty == "padding" {
			@include hq-mixin-write-propaty-map-margin($propaty, $value);
		
		//border
		}@else if $propaty == "border" {
			@include hq-mixin-write-propaty-map-border($propaty, $value);

		//background
		}@else if $propaty == "background" {
			@include hq-mixin-write-propaty-map-background($propaty, $value);

		//font
		}@else if $propaty == "font" {
			@include hq-mixin-write-propaty-map-font($propaty, $value);
		
		//box
		}@else if $propaty == "box" {
			@include hq-mixin-write-propaty-map-box($propaty, $value);

		//linkStyles mixin
		}@else if $propaty == "link-styles" {
			@if $value{
				@include hqm("link.styles", $value);
			}

		//fontCloud mixin
		}@else if $propaty == "font-cloud" {
			@if $value{
				@include hqm("font.cloud", $value);
			}
		
		//default
		}@else{
			@include hq-mixin-write-propaty-map($propaty, $value);
		}

	//map以外の通常指定
	} @else {
		@include hq-mixin-write-propaty-value($propaty, $value);
	}
}


//
// private mixin
// @ hq-mixin-write-propaty-value
// - valueがmapでは無いときの処理
//
@mixin hq-mixin-write-propaty-value($propaty, $value){
	//valueがcompass対応mixinの場合
	//display:inline-block
	@if $propaty == "display" and $value == "inline-block"{
		@include inline-block;
	//display:box
	}@else if $propaty == "display" and $value == "box"{
		@include display-box;
	//display:box
	}@else if $propaty == "opacity"{
		@include opacity($value);
	//compass非対応
	}@else{
		#{$propaty} : $value;
	}
}


//
// private mixin
// @ hq-mixin-write-propaty-map
// - valueがmapの時のデフォルト処理
//
@mixin hq-mixin-write-propaty-map($propaty, $value){
	@each $key, $value in $value {
		#{$propaty}-#{$key}: $value;
	}
}


//
// private mixin
// @ hq-mixin-write-propaty-map-margin
// - margin,padding時、map指定で値が全て指定されている場合、ショートハンドに変換し生成。
//
@mixin hq-mixin-write-propaty-map-margin($propaty, $map){
	$_isNull: false;
	$map: hq("map.extend",(
		top: null,
		right: null,
		bottom: null,
		left: null
	) ,$map);

	//shorthandチェック
	$_short: hq("css.toShort",$map, $propaty);
	
	//shortHand
	@if $_short {
		#{$propaty} : $_short;
	//map
	}@else{
		@include hq-mixin-write-propaty-map($propaty, $map);
	}
}

//
// private mixin
// @ hq-mixin-write-propaty-map-border
// - border時mapが複数構造ある場合対応
//
@mixin hq-mixin-write-propaty-map-border($propaty, $map){
	//shorthandチェック
	$_short: hq("css.toShort",$map, $propaty);
	
	//shortHand
	@if $_short {
		#{$propaty} : $_short;
	//map
	}@else{
		@each $key, $value in $map {
			//border-radius
			@if $key == "radius"{
				@include border-radius($value);
			//border-image
			}@else if $key == "image"{
				@include border-image($value);
			//map内にshortHand
			}@else if $key == "all"{
				#{$propaty}: $value;
			//left->styleの様なdeep指定
			}@else if type-of($value) == map{
				@each $_k2, $_v2 in $value {
					#{$propaty}-#{$key}-#{$_k2}: $_v2;
				}
			//通常map
			}@else{
				#{$propaty}-#{$key}: $value;
			}
		}
	}
}

//
// private mixin
// @ hq-mixin-write-propaty-map-background
// - background時mapが複数構造ある場合対応
//
@mixin hq-mixin-write-propaty-map-background($propaty, $map){
	//shorthandチェック
	$_short: hq("css.toShort",$map, $propaty);
	
	//shortHand
	@if $_short {
		#{$propaty} : $_short;
	//map
	}@else{
		@each $key, $value in $map {
			//background-clip
			@if $key == "clip"{
				@include background-clip($value);
			//background-origin
			}@else if $key == "origin"{
				@include background-origin($value);
			//background-size
			}@else if $key == "size"{
				@include background-size($value);
			//map内にshortHand
			}@else if $key == "all"{
				#{$propaty}: $value;
			//通常map
			}@else{
				#{$propaty}-#{$key}: $value;
			}
		}
	}
}

//
// private mixin
// @ hq-mixin-write-propaty-map-font
// - font時mapが複数構造ある場合対応
//
@mixin hq-mixin-write-propaty-map-font($propaty, $map){
	//shorthandチェック
	$_short: hq("css.toShort",$map, $propaty);
	
	//shortHand
	@if $_short {
		#{$propaty} : $_short;
	//map
	}@else{
		@each $key, $value in $map {
			//line-height
			@if $key == "line-height"{
				line-height: $value;
			//map内にshortHand
			}@else if $key == "all"{
				#{$propaty}: $value;
			//通常map
			}@else{
				#{$propaty}-#{$key}: $value;
			}
		}
	}
}

//
// private mixin
// @ hq-mixin-write-propaty-map-box
// - box時mapが複数構造ある場合対応
//
@mixin hq-mixin-write-propaty-map-box($propaty, $map){
	@each $key, $value in $map {
		//box-shadow
		@if $key == "shadow"{
			@include box-shadow($value);
		//box-sizing
		}@else if $key == "sizing"{
			@include box-sizing($value);
		//box-flex
		}@else if $key == "flex"{
			@include box-flex($value);
		//box-flex-group
		}@else if $key == "flex-group"{
			@include box-flex-group($value);
		//box-orient
		}@else if $key == "orient"{
			@include box-orient($value);
		//box-orient-group
		}@else if $key == "orient-group"{
			@include box-orient-group($value);
		//box-align
		}@else if $key == "align"{
			@include box-align($value);
		//box-direction
		}@else if $key == "direction"{
			@include box-direction($value);
		//box-lines
		}@else if $key == "lines"{
			@include box-lines($value);
		//box-pack
		}@else if $key == "pack"{
			@include box-pack($value);
		//通常map
		}@else{
			#{$propaty}-#{$key}: $value;
		}
	}
}

