// ------------------------------
// [name] hq-is-help v1.0.0
// [path] /hisho-query/hq/is/_help.scss
// [desc] hq("is.xxx")のhelpをターミナルに表示
// [exsample]
//   hq-is-help()
// ------------------------------
@function hq-is-help(){

$_help: '
- is method -
-------------------------------------------------------
| method        | return | mq| description
-------------------------------------------------------
| is.help       |  null  | x | is Method List 表示
| is.gValue     |  bool  | x | グローバル変数存在チェック
| is.function   |  bool  | x | function存在チェック
| is.mixin      |  bool  | x | mixin存在チェック
| is.string     |  bool  | x | string型かチェック
| is.number     |  bool  | x | number型かチェック
| is.color      |  bool  | x | color型かチェック
| is.list       |  bool  | x | list型かチェック
| is.map        |  bool  | x | map型かチェック
| is.bool       |  bool  | x | bool型かチェック
-------------------------------------------------------
* mq: "map query"対応可否

$gvalue: hoge
$h: hq( "is.gValue", gvalue );    -> true
$h: hq( "is.function", hq );      -> true
$h: hq( "is.mixin", hqm );        -> true
$h: hq( "is.string", "border" );  -> true
$h: hq( "is.number", 5px );       -> true
$h: hq( "is.color", #ff0000 );    -> true
$h: hq( "is.map", (test:hoge) );  -> true
$h: hq( "is.list", 0 2 3 5 );     -> true
$h: hq( "is.bool", true );        -> true

-------------------------------------------------------
';
	
	$a: hq-puts($_help);
	@return null;
}
