// ==============================
// [name] hqm-core v0.1.1
// [path] /hisho-query/_hqm-core.scss
// [desc] hqm mixin Interface
// ==============================
@mixin hqm($argument...){
	//compass あり
	@if hq("is.mixin", sprite-background) {
		$_name: nth($argument,1);
		$_arg: hq-list-slice($argument,2);
		
		@if $_name == "write"{
			@include hq-mixin-write($_arg...);

		}@else if $_name == "write.propaty"{
			@include hq-mixin-write-propaty($_arg...);

		}@else if $_name == "sprite"{
			@include hq-mixin-sprite($_arg...);

		}@else if $_name == "sprite.core"{
			@include hq-mixin-sprite-core($_arg...);

		}@else if $_name == "sprite.image"{
			@include hq-mixin-sprite-image($_arg...);

		}@else if $_name == "module"{
			@include hq-mixin-module($_arg...);

		}@else if $_name == "module.core"{
			@include hq-mixin-module-core($_arg...);

		}@else if $_name == "font.cloud"{
			@include hq-mixin-font-cloud($_arg...);

		}@else if $_name == "link.styles"{
			@include hq-mixin-link-styles($_arg...);

		}@else if $_name == "help"{
			@include hq-mixin-help($_arg...);
			$test: hq-str-puts($mixinHelp);
		}
	//compass なし
	}@else{
		$error: hq-str-puts("  error undefind compass in hqm function")
	}

}
