// ------------------------------
// [name] hq-css-help v1.0.0
// [path] /hisho-query/hq-css/_help.scss
// [desc] hq("css.xxx")のhelpをターミナルに表示
// [exsample]
//   hq-css-help()
// ------------------------------
@function hq-css-help(){

$_help: '
- css method -
-------------------------------------------------------
| method        | return | mq| description
-------------------------------------------------------
| css.toMap     |  list  | o | shortHand形式で記載したCSSをMapに変換
| css.toShort   |  map   | o | Map形式で記載したCSSをshortHandに変換
| css.getWidth  | number | o | widthの指定値を算出
| css.getHeight | number | o | heightの指定値を算出
-------------------------------------------------------
* mq: "map query"対応可否

$h: hq( "css.toMap", "margin", 0 2px 3px 4px );
$h: hq( "css.toMap", "margin", (top:0,right:5px,bottom:9px,left:5px) );
$h: hq( "css.getWidth",  500px, solid 1px #ccc, 0 2px 3px 4px );
$h: hq( "css.getHeight", 500px, solid 1px #ccc, 0 2px 3px 4px );

-------------------------------------------------------
';
	
	$a: hq-puts($_help);
	@return null;
}
