// ------------------------------
// [name] hq-map-help v1.0.0
// [path] /hisho-query/hq-map/_help.scss
// [desc] hq("is.xxx")のhelpをターミナルに表示
// [exsample]
//   hq-map-help()
// ------------------------------
@function hq-map-help(){

$help: '
- map method -
-------------------------------------------------------
| method        | query | return |deep| 説明
-------------------------------------------------------
| map.get       | true  |  other | o  | keyを指定し値を取得
| map.set       | true  |   map  | o  | 指定したkeyに値を代入
| map.extend    | false |   map  | o  | mapとmapをマージ(複数指定,deeq指定可能)
| map.merge     | true  |   map  | x  | mapとmapをマージ
| map.mergeDeep | true  |   map  | o  | mapとmapをDeepマージ
| map.keys      | true  |  list  | x  | keyの一覧リスト取得
| map.values    | true  |  list  | x  | 値の一覧リスト取得
| map.hasKey    | true  |  bool  | x  | 指定keyが存在するかチェック
| map.length    | true  | number | o  | mapの数を取得
| map.nth       | true  |  list  | x  | 指定位置にあるmapをlist形式で返す
| map.push      | true  |   map  | o  | mapの最後尾にmap追加
| map.join      | true  |  list  | x  | 
| map.zip       | false |  list  | x  | 
| map.toString  | true  | string | o  | mapをstringに変換（デバッグで使用）
-------------------------------------------------------
$map:  ( hoge: 2, fuga: e );
$map2: ( hoges: 20000, fugas: test );
$mapd: (
	cat: ( text: good, colorType: black ),
	Lion: ( text: bad, colorType: orange )
);
$mapd2: (
	Lion: ( text: good, colorType: orange, option: ( box: 2 ) ),
	bird: ( text: good, colorType: blue, option: ( box: 1 ) )
);

$h: hq( "map.get", $mapd, "cat.colorType" );          -> black
$h: hq( "map.set", $mapd, "cat.colorType", "blue" ); 
$h: hq( "map.extend", $mapd, $mapd2 );               
$h: hq( "map.extend", $mapd, $mapd2, true );         
$h: hq( "map.merge", $mapd, $mapd2 );                
$h: hq( "map.mergeDeep", $mapd, $mapd2 );             
$h: hq( "map.keys", $map );                -> hoge, fuga
$h: hq( "map.values", $map );              -> 2, e
$h: hq( "map.hasKey", $map, "hoge" );      -> true
$h: hq( "map.nth", $map, 2 );              -> e
$h: hq( "map.length", $mapd);              -> 2
$h: hq( "map.push", $map, foo hoge );      
$h: hq( "map.join", $map, $map2, comma );  -> hoge 2, fuga e, hoges 20000, fugas test;
$h: hq( "map.zip", $map );                 -> hoge 2, fuga e;
$h: hq( "map.toString", $map );            
-------------------------------------------------------
';
	
	$a: hq-str-puts($help);
	@return null;
}
