// ------------------------------
// [name] hq-map-help v1.0.0
// [path] /hisho-query/hq-map/_help.scss
// [desc] hq("is.xxx")のhelpをターミナルに表示
// [exsample]
//   hq-map-help()
// ------------------------------
@function hq-map-help(){

$help: '
- map method -
-------------------------------------------------------
| method        | return | mq| deep| description
-------------------------------------------------------
| map.get       | other  | o |  o  | 指定したkeyの値を取得。
| map.set       | map    | o |  o  | 指定したkeyに値を設定。
| map.extend    | map    | x |  o  | 複数のmapをマージ。
| map.merge     | map    | o |  x  | mapをマージ。
| map.mergeDeep | map    | o |  o  | mapをマージ。deepMap対応。
| map.keys      | list   | o |  x  | keyの一覧を取得
| map.values    | list   | o |  x  | valueの一覧を取得
| map.hasKey    | bool   | o |  x  | keyを検索
| map.nth       | list   | o |  x  | 指定位置のvalue&keyを返す
| map.length    | number | o |  x  | mapの数を返す
| map.append    | map    | o |  x  | mapの最後尾にkeyと値を追加
| map.join      | map    | o |  x  | sass joinと同様
| map.zip       | map    | x |  x  | sass zipと同様
| map.toString  | map    | o |  o  | mapをハッシュ化しstringに変換。デバッグ用
-------------------------------------------------------
* deep: "deep map"の対応可否。非対応のものは1階層目のみ判断し処理が行われる。
* mq: "map query"対応可否

$h: hq("map.get", $mapd, "cat.colorType");
$h: hq("map.set", $mapd, "cat.colorType", "blue");
$h: hq("map.extend", $mapd, $mapd2);
$h: hq("map.extend", $mapd, $mapd2, true); //deepCopy
$h: hq("map.merge", $mapd, $mapd2);
$h: hq("map.mergeDeep", $mapd, $mapd2);
$h: hq("map.keys", $map);
$h: hq("map.values", $map);
$h: hq("map.hasKey", $map, "hoge");
$h: hq("map.nth", $map, 2);
$h: hq("map.length", $mapd);
$h: hq("map.push", $mapd, foo hoge);
$h: hq("map.join", $map, $map2, comma);
$h: hq("map.zip", $map, $map2);
$h: hq("map.toString", $mapd);

-------------------------------------------------------
';
	
	$a: hq-str-puts($help);
	@return null;
}
